body {
font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--primary-text-color);
}

.header{
    
}

.nav{
    
       
}

.studio{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
            
            
        
            color: #2196F3;
}


.logo-heder{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;   
    text-decoration-line: none;
}
.portfolio{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #212121;
}
.contacts{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #212121;
}
.mail-header{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2196F3;
}
.tel-header{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #757575;
}


.section-One{  
    
        background-color: #2F303A;;
}



























.footer{
    position: absolute;
        width: 1600px;
        height: 252px;
        
        background: #2F303A;       
}
.address{
position: absolute;
    
}
.address-k{
        position: absolute;
        width: 231px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.mail{
        position: absolute;
            
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                
                color: rgba(255, 255, 255, 0.6);
}
.tel{
            position: absolute;
            width: 231px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
}
.logo{
            position: absolute;
            
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            
            color: #FFFFFF;
}
.logo-web{
    color: #2196F3;
}




.btn {
    background-color: #F5F4FA;
    color: black;
    cursor: pointer;
}

.btn:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}